/*
listiz is a TODO list for Firefox OS that supports many lists, and even sublists!!!
Copyright © 2014 xinouch
remi.ducceschi@gmail.com

This file is part of listiz

listiz is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	display: flex;
	flex-flow: column;
	background: #FA5858;
}

header, footer
{
	flex-grow: 0;
	flex-shrink: 0;
}

header
{
	order: 0;
	margin-bottom: 1%;
}

footer
{
	order: 30;
	margin-top: auto;
}

.hidden
{
	display: none !important;
	opacity: 0;
}

/*********** LISTS ***********/

/* general */
.expandbtn
{
	display: none;
}

.textedit
{
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	transition: all, 0.5s;
}

.textedit:focus, .textedit:hover
{
	background: rgba(255, 255, 255, 0.5);
}

[data-done="true"] > .textlist, [data-done="true"] > .textedit
{
	text-decoration: line-through;
	font-style: italic;
	color: gray;
}

/* non-editable */
[data-editable="false"] [data-expand="false"] > ul, [data-editable="false"] .addbtn, [data-editable="false"] .textedit, [data-editable="false"] .checkdone
{
	display: none;
}

[data-editable="false"] .expandable > .expandbtn
{
	display: inline-block;
}

/* editable */
[data-editable="true"] .textlist
{
	display: none;
}

/*********** MEDIA QUERIES ***********/
@media (orientation: landscape)
{
	body > footer
	{
		padding: 0.5%;
	}
	body > footer > p
	{
		display: none;
	}
}

/*********** ANIMATION ***********/

/* this is not a transition as transition are not easy with display:none */
.appears:not(.hidden )
{
	animation-name: apparition;
	animation-duration: 1s;
	-webkit-animation-name: apparition;
	-webkit-animation-duration: 1s;
}
@keyframes apparition
{
	from
	{
		opacity:0;
	}

	to
	{
		opacity: 1;
	}

}
@-webkit-keyframes apparition
{
	from
	{
		opacity:0;
	}

	to
	{
		opacity: 1;
	}
}
